

@{
    var title = "about me";
    ViewData["Title"]= title;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div>
    <p>This is about me</p>
</div>
</body>
</html>