@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">info over asp.net</a>.</p>
    <h2><u>Index:</u></h2>
    
</div>